body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    background-color: #808080;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 4px;
}

#result{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height:75px;
    width: 300px;
    background-color: #1C1C1C;
    color: white;
    font-size: 40px;
}

.interact{
    display: flex;
    flex-wrap: wrap;
}

button{
    height: 75px;
    width: 75px;
    color: white;
    font-size: 25px;
}

button:hover{
    background-color:grey;
}

.top{
    background-color: #505050;
}

.right{
    background-color: #FF9500;
}
.num{
    background-color: #D4D4D2;
}

#zero{
    width:150px;
}